---
layout: default
---
<h2>{{ page.name }}</h2>

<h3>岗位职责：</h3>
<p>{{ page.responsibilities }}</p>

<h3>岗位要求：</h3>
<p>{{ page.requirements }}</p>

<h3>薪资待遇：</h3>
<p>{{ page.salary }}</p>

<h3>工作地点：</h3>
<p>{{ page.location }}</p>

<h3>应聘指南：</h3>
<p>{{ page.application_instructions }}</p>

{{ content }}
<style>
    body {
      /*加载背景图：图片地址 不平铺 */
      background: url(/背景图6.jpg) no-repeat;
      /* 让背景图基于容器大小伸缩 */
      background-size: 100% 100%;
      background-attachment: fixed;
    }
  </style>
